APP_HOST=
APP_PORT=
APP_KEY=
APP_KEY_OBFUSCATED=

DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_PASSWORD_OBFUSCATED=
DB_PUBLIC_USERNAME=
DB_PUBLIC_PASSWORD=
DB_PUBLIC_PASSWORD_OBFUSCATED=
DB_ADMIN_USERNAME=
DB_ADMIN_PASSWORD=
DB_ADMIN_PASSWORD_OBFUSCATED=
DB_REPORT_USERNAME=
DB_REPORT_PASSWORD=
DB_REPORT_PASSWORD_OBFUSCATED=
DB_MAINTENANCE_USERNAME=
DB_MAINTENANCE_PASSWORD=
DB_MAINTENANCE_PASSWORD_OBFUSCATED=
DB_CHARSET=
DB_COLLATION=

SMTP_HOST=
SMTP_PORT=
SMTP_ENCRYPTION=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_PASSWORD_OBFUSCATED=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_TOKEN_OBFUSCATED=
TELEGRAM_BOT_USERNAME=

ADMIN_SECURITY_EMAIL=
ADMIN_SECURITY_QUESTION_1=
ADMIN_SECURITY_ANSWER_1=
ADMIN_SECURITY_ANSWER_1_OBFUSCATED=
ADMIN_SECURITY_QUESTION_2=
ADMIN_SECURITY_ANSWER_2=
ADMIN_SECURITY_ANSWER_2_OBFUSCATED=
ADMIN_SECURITY_QUESTION_3=
ADMIN_SECURITY_ANSWER_3=
ADMIN_SECURITY_ANSWER_3_OBFUSCATED=
